<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Brandons_Todo_List.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>298E29832EBBF0DC00864C18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>298E29922EBBF0DD00864C18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>298E299C2EBBF0DD00864C18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
